:root {
  font-family: "Segoe UI", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f2ed;
  color: #0c1f2a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
